:not(:defined) > * {
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  overflow-x: hidden;
}
:root{
    --bg-color: #f8f8f8;
    --second-bg-color: #f4f4f4;
    --text-color: #000;
    --main-color: crimson;

}

model-viewer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 20%;
  top: 0;
  outline: none;
  border: none;
  z-index: 100;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(./images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
  z-index: 1000;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}




/* NAVBAR SECTION  */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.header.sticky{
    box-shadow: 0 0 1rem var(--main-color);
}
.logo{
    font-size: 25px;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

nav a{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
}
nav a:hover,nav a.active{
    color: var(--main-color); 
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}



/* BANNER SECTION  */

section{
    height: 100vh;
    padding: 10rem 4% 2rem;
}
.home-content{
  top: 25%;
  position: absolute;
  z-index: 200;
}

.home-content h3{
    font-size: 2.6rem;
    font-weight: 700;
    margin: 20px 0;

}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem; 
}
.home-content h1{
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 1.3;

}

.home-content p{
    font-size: 1.6rem;

}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 59%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

span{
    color: var(--main-color);
}
.btn{
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
}
.btn:hover{
    color: var(--main-color);
    background: transparent;
    box-shadow: none;
    border: 2px solid var(--main-color);
}


::-webkit-scrollbar{
  background: var(--second-bg-color);
  cursor: pointer;
}
::-webkit-scrollbar-thumb{
  background: var(--main-color);
  width: 20px;
  border-radius: 20px;
}


/* MOBILE SCREEN RESPONSIVENESS  */
@media(max-width: 991px){
  header {
      padding: 2rem 3%;
    }
  
    section {
      padding: 10rem 3% 2rem;
      min-height: 100svh;
    }
}

@media(max-width: 769px){
  #menu-icon{
    display: block;
}

.navbar{
    text-align: center;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 .5rem 1rem rgba(220, 20, 60, 0.4);
}
.navbar.active{
    display: block;
}
.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}
.home{
    padding-bottom: 30px;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;

}
.home-content{
  position: relative;
  top: -50%;
}
.home-content h3{
    font-size: 1.8rem;
}
.home-content h1{
    font-size: 2rem;
}
.home-content .social-media{
  display: none;
}
.home-content .btn{
  display: none;
}
.home-content p{
  display: none;
}
model-viewer {
  left: 0;
  top: 20%;
}
.page-view .project .text h1 {
  font-size: 50px;
  top: 50%;
  color: #fff;
  left: 50%;
  text-align: center;
}
}