/*header section*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

header {
  width: 100%;
  height: 100vh;
  background: #000;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 3%;
  position: relative;
}

.container {
  padding: 10px 10%;
}

.pic {
  position: absolute;
  width: 330px;
  bottom: 3%;
  right: 20%;
}

.pic img {
  width: 100%;
  border-radius: 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  font-size: 25px;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #Fff;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
}

nav ul li a:hover {
  color: #ff004f;
  -webkit-transition: .6s;
  transition: .6s;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

span {
  color: #ff004f;
}

/*about section*/
#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-col-1 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 10px;
}

.about-col-2 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.tab-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-links:hover {
  color: #ff004f;
  -webkit-transition: .6s;
  transition: .6s;
}

.tab-links.active-link {
  color: #ff004f;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 16px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*services section*/
#services {
  padding: 30px 0;
}

.services-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.services-list div h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  background: #ff004f;
}

.btn2 {
  padding: 10px 30px;
  border-radius: 15px;
  margin-top: 15px;
  background: #ff004f;
  color: #fff;
}

.services-list div a:hover {
  background: #000;
}

.services-list div:hover {
  background: #ff004f;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: .6s;
  transition: .6s;
}

/*contact section*/
.contact-left {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.contact-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.btn2 {
  display: inline-block;
  background: #ff004f;
  cursor: pointer;
}

.contact-right form {
  width: 100%;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  display: inline-block;
  font-size: 18px;
}

.copyright {
  color: #000;
  width: 100%;
  padding: 15px 0;
  background: #777;
  font-weight: 500;
  margin-top: 25px;
  font-size: 18px;
  text-align: center;
}

#side-nav {
  display: none;
}

#menu-btn {
  display: none;
}

#side-nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #ff004f;
  z-index: 2;
  -webkit-transition: 0.6s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  padding: 30px;
}

#sidenav nav ul{
  display: flex;
  flex-direction: column;
}
#sidenav nav ul li a{
  display: block;
}

#menu-btn {
  width: 50px;
  height: 50px;
  background: #ff004f;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

#menu-btn img {
  width: 20px;
  margin-top: 15px;
}

/*responsive screen devices*/
@media screen and (max-width:1200){
  .header-text{
    width: 270px;
  }
}
@media screen and (max-width: 900px) {
  .header-text {
    margin-top: 10%;
    font-size: 16px;
    text-align: center;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .navigation {
    display: none;
  }
  #side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #ff004f;
    z-index: 2;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  #side-nav nav ul li {
    list-style: none;
    margin: 30px 20px;
  }
  #side-nav nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #side-nav nav ul li a:hover {
    color: #c43260;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  #menu-btn {
    display: block;
  }
  .pic {
    width: 230px;
  }
  .about-col-1 img {
    margin-left: 35px;
    width: 230px;
    border-radius: 10px;
  }
  .about-col-1 h1 {
    font-size: 10px;
  }
  .contact-right{
    width: 100%;
    flex-basis: 100%;
  }
  .contact-left{
    text-align: center;
    width: 100%;
    flex-basis: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */